<?xml version="1.0" encoding="UTF-8"?>
<project>
    <!--
         Test-Unit: Run PHPUnit tests, if phpunit.xml is available in the project root.
    -->
    <target name="-phpunit:check">
        <available file="${basedir}/phpunit.xml" property="-phpunit:active"/>
    </target>

    <condition property="phpunit.arg.coverage.clover" else="" value="--coverage-clover ${logdir}/clover.xml">
        <istrue value="${phpunit.coverage.clover}" />
    </condition>

    <condition property="phpunit.arg.coverage.html" else="" value="--coverage-html ${builddir}/coverage">
        <istrue value="${phpunit.coverage.html}" />
    </condition>

    <condition property="phpunit.arg.coverage.text" else="" value="--coverage-text">
        <istrue value="${phpunit.coverage.text}" />
    </condition>

    <condition property="phpunit.arg.coverage.textfile" else="" value="--coverage-text=${logdir}/coverage.txt">
        <equals arg1="${phpunit.coverage.text}" arg2="file" />
    </condition>

    <condition property="phpunit.arg.testdox.text" else="" value="--testdox-text ${logdir}/testdox.txt">
        <istrue value="${phpunit.testdox.text}" />
    </condition>

    <condition property="phpunit.arg.testdox.html" else="" value="--testdox-html ${logdir}/testdox.html">
        <istrue value="${phpunit.testdox.html}" />
    </condition>

    <target name="phpunit" extensionOf="-test-unit:main~hook" depends="-phpunit:check" if="-phpunit:active">
        <exec executable="${bindir}/phpunit" failonerror="${test-unit.fail-on-violation}" dir="${basedir}">
            <arg value="-d" />
            <arg value="memory_limit=1024M" />
            <arg value="--configuration" />
            <arg value="${basedir}/phpunit.xml" />
            <arg value="--log-junit" />
            <arg value="${logdir}/junit.xml" />
            <arg line="${phpunit.arg.coverage.clover}" />
            <arg line="${phpunit.arg.coverage.html}" />
            <arg line="${phpunit.arg.coverage.text}" />
            <arg line="${phpunit.arg.coverage.textfile}" />
            <arg line="${phpunit.arg.testdox.html}" />
            <arg line="${phpunit.arg.testdox.text}" />
        </exec>
    </target>
</project>
